<ion-content [fullscreen]="true">
  <ion-header [translucent]="true" scroll-collapse>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
</ion-header>
  <div class="header">
    <ion-title class="title">Recuperar contraseña</ion-title>
    <p class="subTitle">Escribe tu correo</p>
  </div>

  <div>
    <div class="ion-padding">
      <ion-item>
        <ion-input [(ngModel)]="email" placeholder="Correo electronico" class="input"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item> 
    </div>

    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button (click)="resetPassword()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
