.input{
    font-size: 300;
    color: black;
}

ion-item{
    --background:#f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
}

.header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .subTitle{
        color:rgb(255, 255, 255);
        font-size: 0.9rem;
    }
    .title{
        font-size: 1.5rem;
        color: white;
    }
}

ion-header {
    --ion-background-color: transparent; // Hace el fondo transparente
    --ion-border-color: transparent; // Elimina el borde
    box-shadow: none; // Elimina la sombra
  }


ion-content {
    --background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/img/medidor.jpg') no-repeat center center fixed;
    background-size: 40% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-buttons{
    color: #ffffff;
  }
