<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Consumo Diario
    </ion-title>
        <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="assets\img\grafico.png"></ion-img>

  <div id="container">
    <div>
      <!-- consumo-diario.page.html -->

<h1>Consumo Diario</h1>

<p>Consumo total diario: {{ totalConsumption }} kWh </p>
    </div>
  </div>
  <div class="centrado">
    <ion-button (click)="resetTotalConsumption()" >Restablecer consumo</ion-button>
  </div>
  <canvas #myChart width="400" height="400"></canvas>
</ion-content>

