ion-content {
    --ion-background-color: #1c1b20;
  }
  

h2 {
    color: #e8e7eb;
    font-size: 1rem;
    }

ion-item {
    --border-color: gray; // Reemplaza con tu código de color HEX
  }
  
ion-list {
    padding-right: 16px; // O el valor que prefieras
    }

ion-toolbar {
    --background: #282931;
    color: #e8e7eb;
}