<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Bienvenido</ion-title>
    <p class="subTitle">Inicia sesión con tu cuenta</p>
  </div>

  <form [formGroup]="loginForm">
    <div class="ion-padding">

      <ion-item>
        <ion-input formControlName="email" placeholder="Correo electronico" class="input"></ion-input>
        <ion-icon name="mail-outline" color="dark"></ion-icon>
      </ion-item>
      <div *ngIf="this.loginForm.controls?.['email'].touched && this.loginForm.controls?.['email'].invalid">
        <ion-text>
          Debe ser un correo electronico valido
        </ion-text>
      </div>
      <ion-item>
        <ion-input formControlName="password" placeholder="Contraseña" class="input" type="password"></ion-input>
        <ion-icon name="lock-closed-outline" color="dark"></ion-icon>
      </ion-item>
      <div *ngIf="this.loginForm.controls?.['password'].touched && this.loginForm.controls?.['password'].invalid">
        <ion-text>
          La contraseña debe tener como minimo 6 caracteres
        </ion-text>
      </div>

      <div class="forgetPassword">
        <a [routerLink]="['/reset-password']">Olvide contraseña</a>
      </div>
      <div class="signupLink">                                                   <!--- style="color:#FFC33F;" --->
        <p>¿Aún no tienes cuenta?<a [routerLink]="['/signup']"> Crea una cuenta</a></p>
      </div>
    </div>

    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;"><ion-fab-button (click)="login()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>

</ion-content>
