<ion-header [translucent]="true" scroll-collapse>
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-collapse >
  <ion-header [translucent]="true" collapse="condense">
    <ion-toolbar no-border>
      <ion-title size="large">Configuración</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <div>
      <h2 slot="start" class="subt">Cuenta</h2>
    </div>

    <ion-item  routerDirection="root" lines="none" detail="false" routerLinkActive="selected">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h2>Correo electronico</h2>
        <p>{{email}}</p>
      </ion-label>
    </ion-item>

    <ion-item  routerDirection="root" [routerLink]="['/settings']" lines="none" detail="false" routerLinkActive="selected">
      <ion-avatar aria-hidden="true" slot="start">
        <ion-icon name="wallet-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Suscripción</h2>
        <p>Gratis</p>
      </ion-label>
    </ion-item>
    
    <ion-item  routerDirection="root" [routerLink]="['/data-controls']" lines="none" detail="false" routerLinkActive="selected">
      <ion-avatar aria-hidden="true" slot="start">
        <ion-icon name="options-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Control de datos</h2>
      </ion-label>
    </ion-item>
  </ion-list>


  <ion-list>
    <div>
      <h2 slot="start" class="subt">Aplicación</h2>
    </div>

    <ion-item (click)="presentRadioAlert()" routerDirection="root" [routerLink]="['/settings']" lines="none" detail="false" routerLinkActive="selected">
      <ion-avatar aria-hidden="true" slot="start">
        <ion-icon name="contrast-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Tema</h2>
        <p>Sistema (Predeterminado)</p>
      </ion-label>
    </ion-item>
  </ion-list>


  <ion-list>
    <div>
      <h2 slot="start" class="subt">Acerca</h2>
    </div>

    <ion-item  routerDirection="root" [routerLink]="['/settings']" lines="none" detail="false" routerLinkActive="selected">
      <ion-avatar aria-hidden="true" slot="start">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Centro de ayuda</h2>
      </ion-label>
    </ion-item>

    <ion-item  routerDirection="root" [routerLink]="['/settings']" lines="none" detail="false" routerLinkActive="selected">
      <ion-avatar aria-hidden="true" slot="start">
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Terminos de uso</h2>
      </ion-label>
    </ion-item>
    
    <ion-item  routerDirection="root" [routerLink]="['/settings']" lines="none" detail="false" routerLinkActive="selected">
      <ion-avatar aria-hidden="true" slot="start">
        <ion-icon name="shield-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Politica de privacidad</h2>
      </ion-label>
    </ion-item>

    <ion-item  routerDirection="root" [routerLink]="['/licenses']" lines="none" detail="false" routerLinkActive="selected">
      <ion-avatar aria-hidden="true" slot="start">
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Licencias</h2>
      </ion-label>
    </ion-item>

    <ion-item  routerDirection="root" lines="none" detail="false" routerLinkActive="selected">
      <ion-avatar aria-hidden="true" slot="start">
        <ion-icon name="ellipse-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Medidor de consumo para Android</h2>
        <p>1.2023.1310</p>
      </ion-label>
    </ion-item>

    <ion-item  (click)="logout()" routerDirection="root" [routerLink]="['/settings']" lines="none" detail="false" routerLinkActive="selected">
      <ion-avatar aria-hidden="true" slot="start">
        <ion-icon class="logout" name="exit-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 class="logout">Cerrar Sesion</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  
</ion-content>
