<!-- app.component.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Conexión Bluetooth
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="searchAndAddDevices()">Buscar Dispositivos Bluetooth</ion-button>

  <!-- Lista de dispositivos encontrados -->
  <ion-list *ngIf="devices.length > 0">
    <ion-item *ngFor="let device of devices">
      {{ device.name }} ({{ device.address }})
      <ion-button slot="end" (click)="connectToDevice(device.address)">Conectar</ion-button>
    </ion-item>
  </ion-list>
  
  <!-- Mensaje si no se encuentran dispositivos -->
  <ion-label *ngIf="devices.length === 0">No se encontraron dispositivos Bluetooth.</ion-label>
</ion-content>
