<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <div>
      <p>Bienvenido Medidor de Energia</p>
    </div>
  </div>



  <ion-button (click)="showSuccessToast()" expand="block"  shape="round">
    decorator service showError
  </ion-button>

  <ion-button (click)="showErrorToast()" expand="block"  shape="round">
    decorator service showSuccess
  </ion-button>
</ion-content>
