<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Menu Principal
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="centrado">
    <ion-button (click)="sendData()" >mandar dato</ion-button>
  </div>


  
  <div class="centrado">
    <ion-list>
      <ion-item *ngFor="let data of Devices" (click)="connect(data.address)">
        <ion-label>
          <h3>{{data.name}}</h3>
          <p>ID: {{data.id}}</p>
          <p>Dirección: {{data.address}}</p>
        </ion-label>
        <ion-button (click)="connect(data.address)" expand="block" fill="clear" shape="round"></ion-button>
      </ion-item>
    </ion-list>
  </div>

  <div class="centrado">
  <ion-item  >
    <ion-label style="color: white;" >Datos Recibidos:</ion-label>
    <ion-input [(ngModel)]="receivedData" style="color: white;"  disabled></ion-input>
  </ion-item>
  </div>


  <div class="centrado">
    <ion-button (click)="disconnect()" color="danger"  >Desconectar </ion-button>
  </div>

  <ion-grid>
    <!-- Primera fila -->
    <ion-row>
      <ion-col size="6">
        <ion-button [routerLink]="['/consumo-diario']">
          <ion-img src="assets/img/consumod.png"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button  [routerLink]="['/consumo-semanal']">
          <ion-img src="assets/img/consumos.png"></ion-img>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Segunda fila -->
    <ion-row>
      <ion-col size="6">
        <ion-button  [routerLink]="['/consumo-mensual']">
          <ion-img src="assets/img/consumom.png"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <!-- Agrega la cuarta imagen aquí -->
        <ion-button  [routerLink]="['/settings']">
          <ion-img src="assets/img/CONFIGURACION.png"></ion-img>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>